<nav>
    <div class="logo">Pokemon Gym Leaders</div>
    <ul class="nav-links">
        <li>
            <a routerLink="/home" routerLinkActive ='active-link'> 
                Home
            </a>
        </li>
        <li>
            <a routerLink="/kanto" routerLinkActive ='active-link'> 
                Kanto Gym Leaders
            </a>
        </li>
        <li>
            <a routerLink="/johto" routerLinkActive ='active-link'> 
                Johto Gym Leaders
            </a>
        </li>
    </ul>
</nav>